body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ddd;
}
.fix-top{
  margin-top: 50px;
}
.form-signin {
  max-width: 330px;
  min-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin > button{
  margin-top: 10px;
}
.col-xs-5 .col-xs-7{
  padding-left: 0px;
  padding-right: 0px;
}
/* Custom Styles */
ul.nav-tabs{
  width: 140px;
  margin-top: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li{
  margin: 0;
  border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
  border-top: none;
}
ul.nav-tabs li a{
  margin: 0;
  padding: 8px 16px;
  border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
  color: #fff;
  background: #0088cc;
  border: 1px solid #0088cc;
}
ul.nav-tabs li:first-child a{
border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a{
  border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix{
  top: 30px; /* Set the top position of pinned element */
}
.cbox{
  width:20px;
  display:inline-block;
  vertical-align:middle;
  margin-top:-2px;
}
td{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
/*
.form-signin input:nth-last-child(1) {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
*/